################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ViewConfig/v16
/src/ViewConfig/bin/Debug/netstandard2.0
/src/ViewConfig/obj
/samples/Sample.WebAPI/bin/Debug/net5.0
/samples/Sample.WebAPI/obj
/src/ViewConfig/bin/Debug
